<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSUserNotificationUsageDescription</key>
	<string>برای ارسال بیت روزانه به ساعت ۸ صبح به اجازه اعلان نیاز داریم.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>برای ذخیره تصویر ساخته‌شده در گالری به اجازه دسترسی به گالری نیاز داریم.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>برای انتخاب تصویر از گالری به اجازه دسترسی به گالری نیاز داریم.</string>
</dict>
</plist>